

#welcome{

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 7px;
}

.home_recs{
    margin: 0 auto;
    width: 80%;
}

.home_recs ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-template-rows: 1fr;
    
}

.home_recs li:hover{
    scale: 1.1;
    transition: 0.5s;
}

li{
    list-style-type: none;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(58, 58, 179);
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

#book_pic{
    width: 60%;
    height: 60%;
    margin: 0 auto;
}
    
