/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

/* code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

body{
  color: rgb(0, 0, 0);
  background-color: #98badd;
  border-color: #1861ac;
}
